In [ ]:
import pandas as pd
import csv

dev = pd.read_csv('dev.csv')

In [ ]:
dev.head(5)
dev['Class labels'].value_counts()

moderate          2306
not depression    1830
severe             360
Name: Class labels, dtype: int64

In [ ]:
def convert_train(csv_file,tsv_file):
  f = open(csv_file, 'r')
  out_csv = open(tsv_file, 'w+')
  in_reader= csv.reader(f, delimiter = ',')
  with open(tsv_file, 'w') as out_tsv:
    out_writer = csv.writer(out_tsv,delimiter = '\t',lineterminator='\n')
    for row in in_reader:
      out_writer.writerow([row[0],row[1],row[2]])

In [ ]:
convert_train('dev.csv','dev.tsv')

In [ ]:
dev_t = pd.read_csv('dev.tsv',delimiter='\t')
dev_t.head()

         PID                                          Text data Class labels
0  dev_pid_1  I enjoyed today, and I still am! Tomorrows dep...     moderate
1  dev_pid_2  I sorta tried to kill myself : I had a total b...     moderate
2  dev_pid_3  Best suicide method? : I like it quick and eas...     moderate
3  dev_pid_4  a story : I remember the time I'd get on my 3D...     moderate
4  dev_pid_5  The world only cares about beautiful people : ...     moderate

In [ ]:
dev_t['Class labels'].value_counts()

moderate          2306
not depression    1830
severe             360
Name: Class labels, dtype: int64